@model IEnumerable<Unidad_2_Actividad_3_Villancicos.Models.Villancico>
@{
    Layout = "_Layout";
}

<ul>
    @foreach (var villancico in Model)
    {
        <li><a href="~/Home/Villancicos/@villancico.Id">@villancico.Nombre </a></li>
    }
</ul>

