@model Unidad_2_Actividad_4.Models.cortosViewModel
@{
    Layout = "_Layout";
}
<div id="principalPeliculas">
    <div id="pelis">
        @foreach (var categoria in Model.categorias)
        {
            <h1>@categoria.Nombre</h1>
            @foreach (var corto in categoria.Cortometraje)
            {
                <div>
                    <a class="imgPelicula" href="~/@corto.Nombre.Replace(" ", "-")/Cortometraje">
                        <img src="~/images/portadas/@(corto.Id)_pc.jpg" alt="@corto.Nombre">
                    </a>
                    <div class="nombrePelicula">
                        <p>@corto.Nombre</p>
                    </div>
                </div>
            }
        }
    </div>
</div>