<html>
<head>
    <title>Programación Web</title>
    @*<link>_Layout</link>*@
</head>
<body>

    <h1>Actividad No.1</h1>
    <h2>Paso de parámetros</h2>
    <h3>Roberto Carlos Herrera Chavarría</h3>

    @RenderBody()  
    <footer>
        <h5>@DateTime.Now.ToShortDateString()</h5>
    </footer>
</body>
</html>